* {
    font-family: 'Montserrat', sans-serif;
    color: #0B141D;
  }
  body{
    background-color: #E1EBF4;
    margin: 0;
  }
  .contanier {
    max-width: 1200px;
    margin: 0 auto;
  }
header {
  background-image: url("../images/fon-top.jpg");
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
header nav {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 615px;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline;
  padding: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 18px;
}
header nav ul li a:hover{
  text-decoration: underline ;
  background-color: tomato;
}
header .logo {
  position: absolute;
  top: 40px;
  left: 33px;
  font-size: 24px;
  text-shadow: 1px 1px #f8d930;

}
.icons {
  position: absolute;
  top: 30px;
  right: 40px;
}
.icons ul li {
  display: inline;
  padding: 0 7;
}
.icons a {
  text-decoration: none;
}
/* razobratsia s perekraskoi iconok */
.title{
  position: absolute;
  top: 207px;
  left: 33px;
}
.title h1 {
  font-size: 80px;
  text-shadow: 2px 2px #f8d930;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0;
}
.title p {
  font-size: 30px;
  margin-bottom: 70px;
}
.title a{
  background-color: #f8d930;
  padding: 18px 71px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 20px;
}
.title a:hover{
  background-color: #fded92;
}